* {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style-type: none;
}

body {
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 50%);
}
