* {
  box-sizing: border-box;
  font-family: 'Barlow', sans-serif;
}

a, p, h1, h2, h3, h4, h5, h6, label {
  color: white;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

header {
  position: fixed;
}

form {
  width: 500px;
}

input {
  border: 0px;
  border-bottom: 1px solid white;
  background-color: rgba(0,0,0,0);
  width: 500px;
}

textarea {
  border: 1px solid white;
  background-color: rgba(0,0,0,0);
  width: 500px;
}

button {
  margin-top: 2rem;
  border: 2px solid white;
  background-color: rgba(0,0,0,0);
  padding: 1rem;
  width: 100%;
}

i {
  color: white;
}

.bodyHome {
  height: 100vh;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 50%);
}

.aboutUs {
  height: 100vh;
  background-color: #9DC5BB;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ourWork {
  height: 100vh;
  background-color: #DAC4F7;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ourWork img {
  margin-right: 4rem;
}

.contact {
  height: 100vh;
  background-color: #6DD3CE;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.contact p {
  font-weight: 600;
}

@media (max-width: 994px) {
  .ourWork {
    height: 100%;
  }

  input, textarea, button {
    margin-bottom: 2rem;
    width: 100%;
  }

  label {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
}
